@font-face {
    font-family:"jua";
    src: url(../font/BMJUA_ttf.ttf);
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.form-header {
    display:block;
    margin-top: 5%;
    color: #77cdd3;
    text-align: center;
    font-size: 150px;
    font-family: "jua";
    margin-bottom: 3%;
    text-decoration: none;
    cursor: pointer;
}

.login-form {
	width:640px;
    height:580px;
	margin:auto;
	max-width:640px;
	height:580px;
	position:relative;
	background:url(../mg/form_img.png) no-repeat center ;
    background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-radius: 2vw;
    margin-bottom: 10vh;
}
.login-html{
	width:640px;
    height:580px;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(95, 163, 168, 0.9);
    border-radius: 2vw;
    margin-bottom: 10vh;
}
.login-head{
    font-weight: bold;
    color: #fff;
    font-family: "jua";
    font-size: 50px;
    padding-bottom: 4vh;
}
.join-form {
	width:640px;
    height:800px;
	margin:auto;
	position:relative;
	background:url(../mg/form_img.png) no-repeat center ;
    background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-radius: 2vw;
    margin-bottom: 10vh;
}
.join-html{
	width:640px;
    height:800px;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(95, 163, 168, 0.9);
    border-radius: 2vw;
    margin-bottom: 10vh;
}
.join-head{
    font-weight: bold;
    color: #fff;
    font-family: "jua";
    font-size: 50px;
    padding-bottom: 4vh;
}
.form-font {
    font-weight: bold;
    color:rgb(179, 179, 179);
	font-size:12px;
    font-family: "jua";
    font-size: 25px;
}
input[type=text] {
    border:none;
    width: 500px;
    height: 50px;
	padding:15px 20px;
	border-radius:25px;
    background-color: #ffffff1a;
    color:#fff;
    margin-bottom: 2vh;
}
input[type=password] {
    border:none;
    width: 500px;
    height: 50px;
	padding:15px 20px;
	border-radius:25px;
    background-color: #ffffff1a;
    color:#fff;
    margin-bottom: 2vh;
}
input[type=email]{
    border:none;
    width: 500px;
    height: 50px;
	padding:15px 20px;
	border-radius:25px;
    background-color: #ffffff1a;
    color:#fff;
    margin-bottom: 2vh;
}
.form-btn {
    outline: 0;
    border: 0;
    width: 500px;
    height: 50px;
    border-radius: 1vw;
    box-sizing: border-box;
    font-family: "jua";
    font-size: 25px;
}
.form-a {
    margin-top: 2vh;
    display: inline-block;
    text-decoration: none !important;
    outline: 0;
    border: 0;
    width: 500px;
    height: 50px;
    border-radius: 1vw;
    background-color: #efefef;
    padding-top: 3%;
    text-align: center;
    box-sizing: border-box;
    font-family: "jua";
    font-size: 25px;
}